body {
	background-image: url('../images/beach.jpg');
}

.display-inline {
	display: inline;
	list-style: none;
}

.transparent {
	color: transparent;
}

.padding {
	padding: 10px;
}

h2, li {
	color: white;
}